{% if app.metafields.scroll_to_top.enabled == true %}
  {% assign data = app.metafields.scroll_to_top %}
  {% assign icon = app.metafields.scroll_to_top.icon %}
  {% assign class_name = '' %}

  {% if data.shape == 'ROUNDED' %}
    {% assign class_name = class_name | append: 'rounded ' %}
  {% endif %}
  <p
    id='wenexus_scrollToTopBtn'
    class='wenexus__scroll-top-top'
    style='--wenexus_scrollToTopBtn_bottom: {{ data.bottom }}%; --wenexus_scrollToTopBtn_right: {{ data.right }}%; --wenexus_scrollToTopBtn_on_mobile: {{ data.show_on_mobile}};'
    mobile='{{ data.show_on_mobile}}'
    desktop='{{ data.show_on_desktop}}'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 44 44'
      fill='none'
      height='{{data.icon_size}}'
      width='{{data.icon_size}}'
      style='background-Color: {{data.background_color}}'
      class='{{ class_name }}'
    >
      {% case icon %}
        {% when 'one' %}

            <path
              d="M32.5157 27.5411C32.2056 27.8349 31.785 28 31.3464 28C30.9078 28 30.4872 27.8349 30.1771 27.5411L21.99 19.7831L13.803 27.5411C13.491 27.8266 13.0732 27.9846 12.6396 27.981C12.2059 27.9774 11.7911 27.8126 11.4844 27.522C11.1778 27.2314 11.0038 26.8383 11.0001 26.4274C10.9963 26.0165 11.163 25.6206 11.4643 25.325L20.8207 16.4589C21.1308 16.1651 21.5514 16 21.99 16C22.4286 16 22.8492 16.1651 23.1594 16.4589L32.5157 25.325C32.8258 25.6189 33 26.0175 33 26.4331C33 26.8486 32.8258 27.2472 32.5157 27.5411Z"
              fill='{{data.icon_color}}'
            />
            <rect x="1" y="1" width="42" height="42" stroke='' strokeWidth="2" />

        {% when 'two' %}

            <rect x="1" y="1" width="42" height="42" stroke='' strokeWidth="2" />
            <path
              d="M21.3146 16.2598L11.2614 25.5944C11.0936 25.7502 11 25.9571 11 26.1723C11 26.3875 11.0936 26.5944 11.2614 26.7501L11.2728 26.7602C11.3542 26.836 11.4521 26.8963 11.5606 26.9375C11.6692 26.9787 11.7861 27 11.9042 27C12.0223 27 12.1392 26.9787 12.2478 26.9375C12.3563 26.8963 12.4543 26.836 12.5356 26.7602L22.0019 17.9699L31.4644 26.7602C31.5457 26.836 31.6437 26.8963 31.7522 26.9375C31.8608 26.9787 31.9777 27 32.0958 27C32.2139 27 32.3308 26.9787 32.4394 26.9375C32.5479 26.8963 32.6458 26.836 32.7272 26.7602L32.7385 26.7501C32.9064 26.5944 33 26.3875 33 26.1723C33 25.9571 32.9064 25.7502 32.7385 25.5944L22.6854 16.2598C22.5969 16.1777 22.4906 16.1123 22.3728 16.0677C22.255 16.023 22.1282 16 22 16C21.8718 16 21.745 16.023 21.6272 16.0677C21.5094 16.1123 21.403 16.1777 21.3146 16.2598Z"
              fill='{{data.icon_color}}'
            />

        {% when 'three' %}

            <path
              d="M32.5157 27.5411C32.2056 27.8349 31.785 28 31.3464 28C30.9078 28 30.4872 27.8349 30.1771 27.5411L21.99 19.7831L13.803 27.5411C13.491 27.8266 13.0732 27.9846 12.6396 27.981C12.2059 27.9774 11.7911 27.8126 11.4844 27.522C11.1778 27.2314 11.0038 26.8383 11.0001 26.4274C10.9963 26.0165 11.163 25.6206 11.4643 25.325L20.8207 16.4589C21.1308 16.1651 21.5514 16 21.99 16C22.4286 16 22.8492 16.1651 23.1594 16.4589L32.5157 25.325C32.8258 25.6189 33 26.0175 33 26.4331C33 26.8486 32.8258 27.2472 32.5157 27.5411Z"
              fill='{{data.icon_color}}'
            />
            <circle cx="22" cy="22" r="21" stroke='' strokeWidth="2" />
        {% when 'four' %}

          <circle cx="22" cy="22" r="21" stroke='' strokeWidth="2" />
            <path
              d="M21.3146 16.2598L11.2614 25.5944C11.0936 25.7502 11 25.9571 11 26.1723C11 26.3875 11.0936 26.5944 11.2614 26.7501L11.2728 26.7602C11.3542 26.836 11.4521 26.8963 11.5606 26.9375C11.6692 26.9787 11.7861 27 11.9042 27C12.0223 27 12.1392 26.9787 12.2478 26.9375C12.3563 26.8963 12.4543 26.836 12.5356 26.7602L22.0019 17.9699L31.4644 26.7602C31.5457 26.836 31.6437 26.8963 31.7522 26.9375C31.8608 26.9787 31.9777 27 32.0958 27C32.2139 27 32.3308 26.9787 32.4394 26.9375C32.5479 26.8963 32.6458 26.836 32.7272 26.7602L32.7385 26.7501C32.9064 26.5944 33 26.3875 33 26.1723C33 25.9571 32.9064 25.7502 32.7385 25.5944L22.6854 16.2598C22.5969 16.1777 22.4906 16.1123 22.3728 16.0677C22.255 16.023 22.1282 16 22 16C21.8718 16 21.745 16.023 21.6272 16.0677C21.5094 16.1123 21.403 16.1777 21.3146 16.2598Z"
              fill='{{data.icon_color}}'
            />
        {% when 'five' %}

          <path
            d="M21.3146 13.2598L11.2614 22.5944C11.0936 22.7502 11 22.9571 11 23.1723C11 23.3875 11.0936 23.5944 11.2614 23.7501L11.2728 23.7602C11.3542 23.836 11.4521 23.8963 11.5606 23.9375C11.6692 23.9787 11.7861 24 11.9042 24C12.0223 24 12.1392 23.9787 12.2478 23.9375C12.3563 23.8963 12.4543 23.836 12.5356 23.7602L22.0019 14.9699L31.4644 23.7602C31.5457 23.836 31.6437 23.8963 31.7522 23.9375C31.8608 23.9787 31.9777 24 32.0958 24C32.2139 24 32.3308 23.9787 32.4394 23.9375C32.5479 23.8963 32.6458 23.836 32.7272 23.7602L32.7385 23.7501C32.9064 23.5944 33 23.3875 33 23.1723C33 22.9571 32.9064 22.7502 32.7385 22.5944L22.6854 13.2598C22.5969 13.1777 22.4906 13.1123 22.3728 13.0677C22.255 13.023 22.1282 13 22 13C21.8718 13 21.745 13.023 21.6272 13.0677C21.5094 13.1123 21.403 13.1777 21.3146 13.2598Z"
            fill='{{data.icon_color}}'
          />
          <path
            d="M21.3146 19.2598L11.2614 28.5944C11.0936 28.7502 11 28.9571 11 29.1723C11 29.3875 11.0936 29.5944 11.2614 29.7501L11.2728 29.7602C11.3542 29.836 11.4521 29.8963 11.5606 29.9375C11.6692 29.9787 11.7861 30 11.9042 30C12.0223 30 12.1392 29.9787 12.2478 29.9375C12.3563 29.8963 12.4543 29.836 12.5356 29.7602L22.0019 20.9699L31.4644 29.7602C31.5457 29.836 31.6437 29.8963 31.7522 29.9375C31.8608 29.9787 31.9777 30 32.0958 30C32.2139 30 32.3308 29.9787 32.4394 29.9375C32.5479 29.8963 32.6458 29.836 32.7272 29.7602L32.7385 29.7501C32.9064 29.5944 33 29.3875 33 29.1723C33 28.9571 32.9064 28.7502 32.7385 28.5944L22.6854 19.2598C22.5969 19.1777 22.4906 19.1123 22.3728 19.0677C22.255 19.023 22.1282 19 22 19C21.8718 19 21.745 19.023 21.6272 19.0677C21.5094 19.1123 21.403 19.1777 21.3146 19.2598Z"
            fill='{{data.icon_color}}'
          />
          <circle cx="22" cy="22" r="21" stroke='' strokeWidth="2" />
        {% when 'six' %}

          <circle cx="22" cy="22" r="22" fill='{{data.background_color}}' />
            <path
              d="M7 22.8179C7 23.4647 7.23748 24.0353 7.71245 24.5299L9.15661 25.9565C9.64442 26.4384 10.2285 26.6793 10.9089 26.6793C11.6021 26.6793 12.1797 26.4384 12.6418 25.9565L18.303 20.3832V33.7745C18.303 34.4339 18.5436 34.9697 19.025 35.3818C19.5064 35.7939 20.0873 36 20.7677 36H23.2323C23.9127 36 24.4936 35.7939 24.975 35.3818C25.4564 34.9697 25.697 34.4339 25.697 33.7745V20.3832L31.3582 25.9565C31.8203 26.4384 32.3979 26.6793 33.0911 26.6793C33.7843 26.6793 34.362 26.4384 34.8241 25.9565L36.2683 24.5299C36.7561 24.048 37 23.4774 37 22.8179C37 22.1458 36.7561 21.5688 36.2683 21.087L23.733 8.7038C23.2837 8.2346 22.706 8 22 8C21.3068 8 20.7227 8.2346 20.2478 8.7038L7.71245 21.087C7.23748 21.5815 7 22.1585 7 22.8179Z"
              fill='{{data.icon_color}}'
            />
        {% when 'seven' %}

          <circle cx="22" cy="22" r="21" stroke='' strokeWidth="2" fill='{{data.background_color}}' />
            <path
              d="M7 22.8179C7 23.4647 7.23748 24.0353 7.71245 24.5299L9.15661 25.9565C9.64442 26.4384 10.2285 26.6793 10.9089 26.6793C11.6021 26.6793 12.1797 26.4384 12.6418 25.9565L18.303 20.3832V33.7745C18.303 34.4339 18.5436 34.9697 19.025 35.3818C19.5064 35.7939 20.0873 36 20.7677 36H23.2323C23.9127 36 24.4936 35.7939 24.975 35.3818C25.4564 34.9697 25.697 34.4339 25.697 33.7745V20.3832L31.3582 25.9565C31.8203 26.4384 32.3979 26.6793 33.0911 26.6793C33.7843 26.6793 34.362 26.4384 34.8241 25.9565L36.2683 24.5299C36.7561 24.048 37 23.4774 37 22.8179C37 22.1458 36.7561 21.5688 36.2683 21.087L23.733 8.7038C23.2837 8.2346 22.706 8 22 8C21.3068 8 20.7227 8.2346 20.2478 8.7038L7.71245 21.087C7.23748 21.5815 7 22.1585 7 22.8179Z"
              fill='{{data.icon_color}}'
            />
        {% when 'eight' %}


            <rect x="1" y="1" width="42" height="42" stroke='' strokeWidth="2" />
              <path
                d="M7 22.8179C7 23.4647 7.23748 24.0353 7.71245 24.5299L9.15661 25.9565C9.64442 26.4384 10.2285 26.6793 10.9089 26.6793C11.6021 26.6793 12.1797 26.4384 12.6418 25.9565L18.303 20.3832V33.7745C18.303 34.4339 18.5436 34.9697 19.025 35.3818C19.5064 35.7939 20.0873 36 20.7677 36H23.2323C23.9127 36 24.4936 35.7939 24.975 35.3818C25.4564 34.9697 25.697 34.4339 25.697 33.7745V20.3832L31.3582 25.9565C31.8203 26.4384 32.3979 26.6793 33.0911 26.6793C33.7843 26.6793 34.362 26.4384 34.8241 25.9565L36.2683 24.5299C36.7561 24.048 37 23.4774 37 22.8179C37 22.1458 36.7561 21.5688 36.2683 21.087L23.733 8.7038C23.2837 8.2346 22.706 8 22 8C21.3068 8 20.7227 8.2346 20.2478 8.7038L7.71245 21.087C7.23748 21.5815 7 22.1585 7 22.8179Z"
                fill='{{data.icon_color}}'
              />
        {% when 'nine' %}

          <rect width="44" height="44" fill="transparent" />
            <path
              d="M7 22.8179C7 23.4647 7.23748 24.0353 7.71245 24.5299L9.15661 25.9565C9.64442 26.4384 10.2285 26.6793 10.9089 26.6793C11.6021 26.6793 12.1797 26.4384 12.6418 25.9565L18.303 20.3832V33.7745C18.303 34.4339 18.5436 34.9697 19.025 35.3818C19.5064 35.7939 20.0873 36 20.7677 36H23.2323C23.9127 36 24.4936 35.7939 24.975 35.3818C25.4564 34.9697 25.697 34.4339 25.697 33.7745V20.3832L31.3582 25.9565C31.8203 26.4384 32.3979 26.6793 33.0911 26.6793C33.7843 26.6793 34.362 26.4384 34.8241 25.9565L36.2683 24.5299C36.7561 24.048 37 23.4774 37 22.8179C37 22.1458 36.7561 21.5688 36.2683 21.087L23.733 8.7038C23.2837 8.2346 22.706 8 22 8C21.3068 8 20.7227 8.2346 20.2478 8.7038L7.71245 21.087C7.23748 21.5815 7 22.1585 7 22.8179Z"
              fill='{{data.icon_color}}'
            />
        {% when 'ten' %}

          <circle cx="22" cy="22" r="22" fill='{{data.background_color}}' />
            <path
              d="M21.3146 16.2598L11.2614 25.5944C11.0936 25.7502 11 25.9571 11 26.1723C11 26.3875 11.0936 26.5944 11.2614 26.7501L11.2728 26.7602C11.3542 26.836 11.4521 26.8963 11.5606 26.9375C11.6692 26.9787 11.7861 27 11.9042 27C12.0223 27 12.1392 26.9787 12.2478 26.9375C12.3563 26.8963 12.4543 26.836 12.5356 26.7602L22.0019 17.9699L31.4644 26.7602C31.5457 26.836 31.6437 26.8963 31.7522 26.9375C31.8608 26.9787 31.9777 27 32.0958 27C32.2139 27 32.3308 26.9787 32.4394 26.9375C32.5479 26.8963 32.6458 26.836 32.7272 26.7602L32.7385 26.7501C32.9064 26.5944 33 26.3875 33 26.1723C33 25.9571 32.9064 25.7502 32.7385 25.5944L22.6854 16.2598C22.5969 16.1777 22.4906 16.1123 22.3728 16.0677C22.255 16.023 22.1282 16 22 16C21.8718 16 21.745 16.023 21.6272 16.0677C21.5094 16.1123 21.403 16.1777 21.3146 16.2598Z"
              fill='{{data.icon_color}}'
            />

        {% else %}

            <rect x="1" y="1" width="42" height="42" stroke='' strokeWidth="2" />
            <path
              d="M21.3146 16.2598L11.2614 25.5944C11.0936 25.7502 11 25.9571 11 26.1723C11 26.3875 11.0936 26.5944 11.2614 26.7501L11.2728 26.7602C11.3542 26.836 11.4521 26.8963 11.5606 26.9375C11.6692 26.9787 11.7861 27 11.9042 27C12.0223 27 12.1392 26.9787 12.2478 26.9375C12.3563 26.8963 12.4543 26.836 12.5356 26.7602L22.0019 17.9699L31.4644 26.7602C31.5457 26.836 31.6437 26.8963 31.7522 26.9375C31.8608 26.9787 31.9777 27 32.0958 27C32.2139 27 32.3308 26.9787 32.4394 26.9375C32.5479 26.8963 32.6458 26.836 32.7272 26.7602L32.7385 26.7501C32.9064 26.5944 33 26.3875 33 26.1723C33 25.9571 32.9064 25.7502 32.7385 25.5944L22.6854 16.2598C22.5969 16.1777 22.4906 16.1123 22.3728 16.0677C22.255 16.023 22.1282 16 22 16C21.8718 16 21.745 16.023 21.6272 16.0677C21.5094 16.1123 21.403 16.1777 21.3146 16.2598Z"
              fill='{{data.icon_color}}'
            />

      {% endcase %}
    </svg>
  </p>
{% endif %}

{% schema %}
{
  "name": "Scroll to Top Button",
  "target": "body",
  "javascript": "scroll-to-top.js",
  "stylesheet": "scroll-to-top.css"
}
{% endschema %}
