{% if app.metafields.trust_badge.enabled %}
  <style>
    .wenexus_trust-dadge{
      display: flex;
      /* flex-wrap: wrap; */
      justify-content:  {{ block.settings.badges_alignment }};
      white-space: nowrap;
    }
    .wenexus__trust-badge-title {
      color: {{ block.settings.title_color }};
      font-size: {{ block.settings.font_size }}px;
      background: {{ block.settings.title_bg }};
      padding: 5px;
      line-height: 1;
      border-radius: 2px;
    }
    .wenexus_trust-badge-img{
      max-width: {{ block.settings.badge_size }}px;
      width: 100%;
      height: auto;
      border: none;

    }
    .wenexus__trust-fieldset {
      border: 1px dashed {{ block.settings.border_color }};
      margin: 15px auto;
      padding: 10px 5px;
      border-radius: 5px;
      min-inline-size: auto;
      background: {{ block.settings.background_color }};
    }
    @media (max-width: 1024px){
      .wenexus_trust-badge-img {
        max-width: {{ block.settings.badge_size_mobile }}px;
      }
      .wenexus__trust-badge-title {
        font-size: {{ block.settings.font_size_mobile }}px;
      }
    }
  </style> 

  <fieldset class="wenexus__trust-fieldset">
    <legend align="{{ block.settings.title_alignment }}" class="wenexus__trust-badge-title">
      {{ block.settings.trust_badge_title }}
    </legend>

    <div class="wenexus_trust-dadge">
      {% assign badges = app.metafields.trust_badge.badges | split: ',' %}
      {% assign asset_endpoint = app.metafields.global.app_url | append: '/files/' %}

      {% for badge in badges %}
        <div>
          <img
            class="wenexus_trust-badge-img"
            src="{{ asset_endpoint | append: badge }}"
            width="90"
            height="75"
            alt="trust badges"
            loading="lazy"
          >
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% endif %}

{% schema %}
{
  "name": "Trust Seals and Badges",
  "target": "section",
  "settings": [

    {
      "type": "text",
      "id": "trust_badge_title",
      "label": "Header/Title",
      "default": "Trust Seals and Badges"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#1f1515"
    },
    {
      "type": "color",
      "id": "title_bg",
      "label": "Title Background",
      "default": "#d7ffd7"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Title Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Title Size",
      "default": 16
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#fff5f5"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#d1d1d1"
    },
    {
      "type": "range",
      "id": "badge_size",
      "min": 70,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "Badge Size (Desktop)",
      "default": 110
    },
    {
      "type": "range",
      "id": "badge_size_mobile",
      "min": 60,
      "max": 90,
      "step": 1,
      "unit": "px",
      "label": "Badge Size (Mobile)",
      "default": 85
    },
    {
      "type": "select",
      "id": "badges_alignment",
      "label": "Badges Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ]
}
{% endschema %}
